*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
   font-size: 10px;
   }

body {
   box-sizing: border-box;
    }
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
    }

#header {
    border-color: grey;
    border-radius: 3rem;
    border-width: .75rem;
    border-style: solid;
    text-align: center;
    background-color: turquoise;
    font-size: large;
    font-family: sans-serif;
}

.menu {
    border-color: grey;
    border-radius: 3rem;
    border-width: .75rem;
    width: 50%;
    border-style: solid;
    text-align: center;
    background-color: whitesmoke;
    font-size: large;
    font-family: sans-serif;
    margin: auto;
    margin-top: 15px;
}

.video {
    border-color: grey;
    border-radius: 3rem;
    border-width: .75rem;
    width: 50%;
    border-style: solid;
    text-align: center;
    background-color: whitesmoke;
    margin: auto;
    margin-top: 15px;
}

#game_intro {
    margin: auto;
    border-color: grey;
    border-radius: 3rem;
    border-width: .75rem;
    border-style: solid;
    margin-top: 15px;
    display: inline-block;
    justify-content: space-evenly;
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    width: auto;
    height: auto;
}

#player_scores {
    margin: auto;
    border-color: grey;
    border-radius: 3rem;
    border-width: .75rem;
    border-style: solid;
    margin-top: 15px;
    display: inline-block;
    justify-content: space-evenly;
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    width: auto;
    height: auto;
}

#player_result {
    margin: auto;
    border-color: grey;
    border-radius: 3rem;
    border-width: .75rem;
    border-style: solid;
    margin-top: 15px;
    display: inline-block;
    justify-content: space-evenly;
    padding: 10px;
    background-color: whitesmoke;
    text-align: center;
    width: auto;
    height: auto;
}

#player_buttons {
    margin: auto;
    border-color: grey;
    border-radius: 3rem;
    border-width: .75rem;
    border-style: solid;
    margin-top: 15px;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 10px;
    background-color: turquoise;
    width: auto;
    height: auto;
}

.player, .choices {
    display: inline-block;
}

button {
    margin: 10px;
    padding: 10px;
}

/* .video {
    display: none;
}

#holds_buttons {
    display: none;
} */


